*{
    margin: 0;
    padding: 0;
    color: rgb(94, 94, 94);
    box-sizing: border-box;
    font-size:  1em;
    color: rgb(29, 29, 29);
    font-family: 'Alice', serif;
}



/* header */
#contenedor_cabecera{
    background-image:  url(../imagenes/fondo.jpg);/* imagen de fondo */
    background-repeat: no-repeat;
    width: 100vw;
    height: 20em;
    margin-left: auto;
    margin-right: auto; 
}


#contenedor_cabecera h1{
    
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 4em;
    text-shadow: 1px 2px 1px #ff0000;
    padding: 1em; 
    text-align: center;
     
    
}

#contenedor_cabecera ul{/* alinea los elementos */
    display: flex;
    justify-content:center; 
    padding-bottom: 3em; 
    
}


#contenedor_cabecera a{/* cajas botones */
    padding-left: 6em;
    padding-right: 6em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 2px;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background:  #9A0F08;
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Rubik', sans-serif;
   
    
}
#contenedor_cabecera .inicio{/* boton inicio activado */
    background-color: white;
    color: #9A0F08;
    border: 1px solid #9A0F08;

}
#contenedor_cabecera .historia{/* contenedor historia activado*/
    background-color: white;
    color: #9A0F08;
    border: 1px solid #9A0F08;

}
#contenedor_cabecera .alternativas{/* contenedor alternativa activado*/
    background-color: white;
    color: #9A0F08;
    border: 1px solid #9A0F08;

}


/* inicio articulo*/

.contenedorCentral{/* contenedor central */
    width: 80%;
    max-width: 1080px;
    background-color:#fff1e4;
    margin: 0 auto;
    text-align: justify;
    padding: 1em 2em 1em 2em;  
}

.contenedorCentral__titulo{/* titulo */
    color: #9A0F08;
    font-family: 'Rubik', sans-serif;
    font-size: 3em;
    text-align: center;
    

}
.contenedorCentral__autor {/* autor y fecha */
    font-family: 'Rubik', sans-serif;
    font-size: .8em;
    text-align: left;
    margin-left: 5em;
    font-weight: 100;
    padding-top: .5em;
    padding-bottom: .5em; 
    
}
 
hr{/* linea horizontal */
    height: 3px;
    width: 90%;
    background-color: #9A0F08;
    margin: 0 auto;

}

p{/* peso, interlineado y sandria primera linea */
    
    text-indent: 2em;
    line-height: 1.7em; 
    font-weight: 100;   
}

.contenedorCentral__cita{/* cita */
    margin: 1em 0 2em;
    background-color: white;
    border-left: 10px solid grey;
}
.contenedorCentral__cita blockquote{
    padding: 1em ;
    text-indent: 2em;
    line-height: 1.7em;
    font-weight: 100; 
    
}
.comillas{/* imagenes comillas como fondo¿? */
    width: 1em;
    height: 1em;
    padding-right:2em ;
    background-size: 1em;
    background-image: url(../imagenes/comillasabajo.png);
    background-repeat: no-repeat;
}
.comillas2{
    width: 1em;
    height: 1em;
    padding-left:1em ;
    margin-left: 1em;
    background-size: 1em;
    background-image: url(../imagenes/marca-derecha-de-la-cita.png);
    background-repeat: no-repeat;  
   
}

h2{/* Subtitulos articulo */
    color: #9A0F08;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.2em;
}

.enlaces{ /* Enlaces */
    color:#668888 ;
    font-weight:bold;
}
/* imagen con su border y linea superior */
figure{
    padding: 2em;
    text-align: center; 
}

figure img{
    width: 60%;
    box-shadow: 10px 6px 10px rgba(255, 1, 1, 0.2) ;
    border-top:20px solid #fff1e4;
    text-align: center;
    

}
figure hr{
    height: 5px;
    width: 60%;
    background-color: rgb(142, 142, 142);

}
figcaption{/* Pie de pagina */
    padding-top: 1em;
    text-align: center;
    font-style: italic;
}
abbr{/* palabras extranjeras */
    font-style: italic;
}

/* footer  */
.contenedorFooter{
    width: 100%;
    padding: 30px;
    background-color: #9A0F08;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.contenedorFooter p{
    color: white;  
}

.enlaces__footer abbr{
    color: white;
   
}
.enlaces__footer1{
    color: white;
}
.contenedorFooter__cursivas1{
    color: white;
    font-weight: bold;
    font-size: 1em
}
.contenedorFooter__cursivas2{
    color: white;
    
}
.cursivasRojas{
    color: #9A0F08;

}


/* Alternativas */
.contenedorCentral__alternativas{
    width: 1080px;
    height: 800px;
    background-color:#fff1e4;
    margin: 0 auto;  
}


.contenedorCentral__alternativas__titulo{
    width: 80%;
    color: #9A0F08;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Rubik', sans-serif;
    padding-top: 2em;
}

/* cards */
.cardsContenedorPrincipal{
    width: 800PX;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 40PX;
    margin-left: 80PX;
    
    
}
.cards{
    position: relative;
    width: 280px;
    height: 280px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: #fff1e4;
    box-shadow: 10px 6px 10px rgba(255, 1, 1, 0.2) ;
    
}
.cards__titulo{
    padding-top: 120px;
    padding-right: 20px;
    text-align: right;
    color: #9A0F08;
    font-size: 1.2rem;
    

}
.cards__texto{
    font-size: .7em;
    padding: 1em;
    line-height: 1.5em;
    text-indent: 1em;
    
}
.cards__img{
    position: absolute;
    top: 20px;
    padding: 10px;
    width: 80px;

}
.cards__solapa{
    position: absolute;
    width: 280px;
    height: 80px;
    background-color: #668888;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cards__verde{
    color: green;
}

.contenedorFooterAlternativas{
    width: 100%;
    height: 100px;
    background-color: #9A0F08;    
}

.contenedorFooter__AlternativasParrafo2 p{
    text-align: center;
    color: white;
    padding-top: 20px;
    font-size: 12px;
}
.contenedorFooter__AlternativasParrafo3 p{
    text-align: center;
    color: white;
    padding-top: 20px;
}
.enlaces__footer{
    color: white;
    font-weight: bold;
    font-size: 12px;
    
}
a:hover{
    color: black;
}
.contenedorFooter__cursivas1{
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}
.contenedorFooter__cursivas2{
    color: white;
    
}
.freepik{
    text-decoration: underline;
    color: white;
    font-size: bold;
}

.contenedorCentral_historia{
    width: 1080px;
    height: 100%;
    background-color:#fff1e4;
    margin: 0 auto;
    font-size: 1.2em;
    padding-bottom: 1em;
}




/* Historia ---Antecedentes */

.contenedorAntecedentes__titulo{
    padding-top: 2em;
    padding-left: 1em;
    padding-bottom: 1em;
    font-size: 1.2em;
    color: black;
    
    
}
.contenedorAntecedentes{
border-left: 4px solid #9A0F08;
padding-left: 2em;
margin-left: 2em;
margin-bottom: 4em;
}
.contenedorAntecedentes dd{
    text-indent: 1em;
    margin-bottom: 1em;
}

.contenedorMacromedia{
    border-left: 4px solid #9A0F08;
    padding-left: 2em;
    margin-left: 2em; 
    margin-top: 1em;
    margin-bottom: 4em;      
}

.contenedorMacromedia__titulo em{
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    font-size: 1.2em;
    color: #9A0F08;
    
}
.contenedorMacromedia dd{
    text-indent: 1em;
    margin-bottom: 1em;   
}
.contenedorAdobe {
    
    border-left: 4px solid #9A0F08;
    padding-left: 2em;
    margin-left: 2em; 
    margin-top: 1em;
    margin-bottom: 4em;      
}
.contenedorAdobe__titulo em{
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    font-size: 1.2em;
    color: #9A0F08; 
}
.iconoimg{
    width: 1em;
    list-style-type:square ;
}

li{
    list-style-type:none;
}

.decoration{
      list-style-type: square;
      margin: .5em 0 .5em 5em;
      padding: .2em;
      
}
  
.icono{
   
    padding: 5px 0 0 1em;
    
}
.icono li em{
    
    color: #9A0F08;
    
}
.icono li{
    list-style-image: url(../imagenes/logo_flash2.png);
}
.textorojo em{
    color: #9A0F08;

}
.contenedorMacromedia__subtitulos em{
    color: #9A0F08;
    font-weight: bold;
    
}
.contenedorMacromedia__listas{
    
    margin: 20px 0 20px 100px;
}
.contenedorMacromedia__listas dd{
    padding: 10px 0 10px 40px;
}
.sublistas_adobe li{
margin-left: 40px;
list-style-type: circle;
}
.parrafo{
    padding: 30px 0  10px 0px;
    
}
.cursivasRojas abbr{
    color: #9A0F08;
}
